<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38616514770-mc6cs8hvjkhcp9gp333r6ovgappgdua0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38616514770-mc6cs8hvjkhcp9gp333r6ovgappgdua0</string>
	<key>API_KEY</key>
	<string>AIzaSyBo_QDPRS2B1BIf4_79WGR4xYDhEkatrXk</string>
	<key>GCM_SENDER_ID</key>
	<string>38616514770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.sch.testvalley.tvsmoodlemobile</string>
	<key>PROJECT_ID</key>
	<string>tvs-moodle</string>
	<key>STORAGE_BUCKET</key>
	<string>tvs-moodle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38616514770:ios:087589575f6554766e2d0b</string>
	<key>DATABASE_URL</key>
	<string>https://tvs-moodle.firebaseio.com</string>
</dict>
</plist>